.#{$namespace}-chart {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
  }

  &__action {
    color: map-get($text-colors, dark);
  }

  &__graph {
    padding: rhythm(.5) 0;
    background-color: map-get($background-colors, control);
  }
}
