$change-language-font-size: map-get($font-sizes, normal);
$change-language-h5-color: color('gray', alpha, 80);
$change-language-background: (
        color: transparent,
        image: svg-url('<svg width="8" height="5" viewBox="0 0 8 5" fill="#{color('gray')}" xmlns="http://www.w3.org/2000/svg"><path d="M.938 0L4 3.101 7.063 0 8 .95 4 5 0 .95z"/></svg>'),
        repeat: no-repeat,
        position: right 10px center,
        size: 8px 5px
) !default;

.#{$namespace}-change-language {
  display: flex;
  align-items: center;

  &__h5 {
    font-size: $change-language-font-size;
    color: $change-language-h5-color;
    display: contents;
    margin: 0;
  }

  &__select {
    @extend %select-background;
    font-size: $change-language-font-size;
    padding-right: rhythm(1.75);
    padding-left: rhythm(.5);

    &:hover {
      @extend %select-background;
    }
  }

  &__menu {
    position: relative;
  }

  &__content {
    background: color('gray');
    position: absolute;
    left: rhythm(-4.25);
    top: 0;
    width: 170px;
    text-align: left;
    padding: rhythm(1) 0;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    animation: fade-in .5s;

    .#{$namespace}-button {
      color: map-get($text-colors, default);
      font-size: $change-language-font-size;
      margin-left: 0;
    }
  }
}

%select-background {
  @include set-background($change-language-background);
}
