$modal-backdrop-background: (
  color: rgba(0, 0, 0, 0.2),
  image:
    radial-gradient(circle, rgba(46, 50, 53, 0.35) 0%, rgba(0, 0, 0, 0.6) 100%)
) !default;

$modal-sizes: (
  small: 400px,
  medium: 500px,
  large: 600px
) !default;
$modal-margin: 0 auto !default;
$modal-padding: rhythm(1.5) !default;
$modal-spacing: rhythm(1.5) !default;
$modal-border: (
  width: 1px,
  style: solid,
  color: transparent,
  radius: $default-border-radius
) !default;
$modal-background: (
  color: map-get($background-colors, "window"),
  clip: padding-box
) !default;
$modal-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3) !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-header-padding: rhythm(1) $modal-padding 0 $modal-padding !default;
$modal-header-background: (
  color: map-get($background-colors, "black")
) !default;
$modal-header-color: map-get($text-colors, "white") !default;
$modal-title-margin: 0 0 rhythm(1) 0 !default;
$modal-title-font-size: map-get($font-sizes, "h4") !default;
$modal-title-font-weight: normal !default;
$modal-close: (
  top: rhythm(1),
  right: rhythm(1),
  size: "small",
  type: "ghost",
  icon: (
    src:
      svg-url(
        (
          fill: map-get($palette, "tertiary")
        ),
        '<svg width="10" height="10" fill="#000000" fill-rule="evenodd" xmlns="http://www.w3.org/2000/svg"><path d="M8.993 0L5 3.993 1.007 0 0 1.007 3.993 5 0 8.993 1.007 10 5 6.007 8.993 10 10 8.993 6.007 5 10 1.007z"/></svg>'
      ),
    options: (
      pseudo: true,
      size: "small",
      cover: true
    )
  )
) !default;
$modal-backdrop-z-index: 1040 !default;
$modal-z-index: 1050 !default;
$modal-full-size: calc(100% - #{$modal-spacing}) !default;
@mixin modal-backdrop-transition() {
  &.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
    &.in {
      opacity: 1;
    }
  }
}
@mixin modal-transition() {
  &.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
    &.in {
      opacity: 1;
    }
  }
}
// / Modal body helper class
body.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// / Modal backdrop

.#{$namespace}-modal__backdrop {
  @include set-background($modal-backdrop-background);

  @include modal-backdrop-transition;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-backdrop-z-index;
}
// / Modal wrapper
.#{$namespace}-modal {
  @include modal-transition;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-z-index;
  outline: 0;
  overflow: hidden;
  will-change: transform;
  -webkit-overflow-scrolling: touch;
}
// / Modal
.#{$namespace}-modal__dialog {
  .modal-content {
    @include set-background($modal-header-background);
  }
}

// / Modal content holder
.#{$namespace}-modal-content,
.#{$namespace}-modal__content {
  @include set-border($modal-border);
  @include set-background($modal-background);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: 0;
  box-shadow: $modal-shadow;
  > :first-child {
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
  }
  > :last-child {
    border-bottom-left-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }
}
// / Modal header
.#{$namespace}-modal__header {
  @include set-background($modal-header-background);
  flex: 0 0 auto;
  padding: $modal-header-padding;
  border-radius: $default-border-radius $default-border-radius 0 0;
  border: 0 !important;
  &.#{$namespace}-modal--center {
    justify-content: center !important;
  }
  // / Close button
  .modal-title {
    margin: 0;
  }
  .close {
    @extend .#{$namespace}-button;
    @extend .#{$namespace}-modal__close;
  }
}
// / Modal title
.#{$namespace}-modal__title {
  @extend .#{$namespace}-heading;
  margin: $modal-title-margin;
  font-size: $modal-title-font-size;
  font-weight: $modal-title-font-weight;
  color: $modal-header-color;
}
.#{$namespace}-modal__close {
  @extend .#{$namespace}-button--small;
  @extend .#{$namespace}-button--ghost;
  @extend .#{$namespace}-button--icon;
  $icon: if(
    map-has-key($modal-close, icon),
    map-get($modal-close, icon),
    false
  );
  @if $icon != false {
    @include icon(map-get($icon, src), map-get($icon, options));
  }
  position: absolute;
  @if map-has-key($modal-close, top) {
    top: map-get($modal-close, top);
  }
  @if map-has-key($modal-close, right) {
    right: map-get($modal-close, right);
  }
  @if map-has-key($modal-close, bottom) {
    bottom: map-get($modal-close, bottom);
  }
  @if map-has-key($modal-close, left) {
    left: map-get($modal-close, left);
  }
}
// / Modal body
.#{$namespace}-modal__body {
  @include set-background($modal-header-background);
  &.#{$namespace}-modal--left {
    padding: rhythm(0.5) rhythm(1.5) !important;
  }
}
// / Modal footer

.#{$namespace}-modal__footer {
  flex: 0 0 auto;
  padding: 0 $modal-padding $modal-padding $modal-padding;
  border-radius: 0 0 $default-border-radius $default-border-radius;
  border-top: 0 !important;
}

// / Modal content alignment
.#{$namespace}-modal--left {
  .modal-content {
    text-align: left;
  }
}
.#{$namespace}-modal--right {
  .modal-content {
    text-align: right;
  }
}
.#{$namespace}-modal--center {
  .modal-content {
    text-align: center;
  }
  .modal-footer {
    //justify-content: center !important;
  }
}
