$select-min-width: 115px !default;
$select-max-width: 200px !default;
$select-height: rhythm(1.75) !default;
$select-margin: rhythm(0.125) 0 !default;
$select-padding: 0.375 25px 0.375 10px !default;
$select-font-weight: normal !default;
$select-color: map-get($text-colors, "normal") !default;
$select-placeholder-color: map-get($text-colors, "dark") !default;

$select-background: (
  color: map-get($background-colors, "control"),
  image:
    svg-url(
      (
        fill: map-get($palette, "tertiary")
      ),
      '<svg width="8" height="5" viewBox="0 0 8 5" fill="#000000" xmlns="http://www.w3.org/2000/svg"><path d="M.938 0L4 3.101 7.063 0 8 .95 4 5 0 .95z"/></svg>'
    ),
  repeat: no-repeat,
  position: right 10px center,
  size: 8px 5px
) !default;

$select-border: (
  width: 1px,
  style: solid,
  color: map-get($border-colors, "normal"),
  radius: $default-border-radius
) !default;

$select-box-shadow: none !default;
$select-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

$select-focus-shadow: 0px 0px 2px 2px map-get($background-colors, "selected") !default;
$select-focus-border-color: transparent !default;

$select-hover-border-color: map-get($border-colors, "hover") !default;
$select-hover-background: (
  color: map-get($background-colors, "control")
) !default;

$select-multiple-height: rhythm(7.5) !default;
$select-multiple-padding: 0 !default;
$select-multiple-background: (
  color: map-get($background-colors, "control"),
  image: none
) !default;

$select-option-height: rhythm(1.5) !default;
$select-option-padding: rhythm(0.25) 10px !default;

$select-autofill-color: map-get($text-colors, "normal") !default;
$select-autofill-background: map-get($background-colors, "body") !default;
$select-autofill-border: color("secondary", "light", 20) !default;

%select {
  @include set-border($select-border, $select-padding);
  @include set-background($select-background);

  display: inline-flex;
  min-width: $select-min-width;
  max-width: $select-max-width;
  min-height: $select-height;
  margin: $select-margin;
  line-height: $base-line-height;
  font-weight: $select-font-weight;
  box-shadow: $select-box-shadow;
  transition: $select-transition;
  color: $select-color;

  &:focus {
    @extend %focus;
  }

  &:hover {
    border-color: $select-hover-border-color;
  }

  &:not([multiple]) {
    &:hover,
    &:focus {
      &:not([disabled]):not([aria-disabled="true"]) {
        @include set-background($select-hover-background);
      }
    }
  }

  &.#{$namespace}-select--fixed {
    width: $select-min-width;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-color: $select-autofill-border !important;
    -webkit-text-fill-color: $select-autofill-color !important;
    -webkit-box-shadow: 0 0 0 1000px $select-autofill-background inset !important;
  }
}

.#{$namespace}-select {
  @include component;
  @extend %select;

  align-items: center;

  appearance: none;
  height: $select-height;

  // remove select arrow for IE
  &::-ms-expand {
    display: none;
  }

  &:not([icon]):empty::before {
    display: inline-block;
    content: "...";
  }

  &.focus {
    @extend %focus;
  }

  & + .#{$namespace}-label {
    margin-left: 8px;
  }
}

.#{$namespace}-select[multiple] {
  @include set-background($select-multiple-background);

  flex-direction: column;

  height: auto;
  max-height: $select-multiple-height;
  padding: $select-multiple-padding;
  vertical-align: top;

  > option {
    height: $select-option-height;
    padding: $select-option-padding;
  }
}
