.#{$namespace}-auth {
  .#{$namespace}-button--wide {
    max-width: 300px;
  }
}

.#{$namespace}-welcome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  overflow: hidden;

  &__footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
  }
}
