.#{$namespace}-welcome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  min-height: calc(100vh - 60px);

  &__footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: rhythm(1);
  }
}
.#{$namespace}-auth {
  .#{$namespace}-form {
    min-width: 300px;
  }
}

.#{$namespace}-login {
  .#{$namespace}-button--full {
    margin-bottom: 1em;
  }
}
.#{$namespace}-success {
  img {
    margin-bottom: 1.5em;
  }
}
