.#{$namespace}-auth {
  .#{$namespace}-button {
    margin-bottom: rhythm(1);
  }

  a:not(.#{$namespace}-link-button) {
    @extend .#{$namespace}-link;
  }

  .#{$namespace}-link-button {
    @extend .#{$namespace}-button;
    @extend .#{$namespace}-button--primary;
  }

  .#{$namespace}-form {
    width: 100%;
  }
}

.#{$namespace}-welcome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  min-height: calc(100vh - 60px);

  img {
    width: 40%;
  }

  &__footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 rhythm(1);
  }
}

.#{$namespace}-success {
  img {
    margin-bottom: rhythm(1.5);
  }
}
