$namespace: "enrg" !global;


@import '../../abstracts/namespace';
@import '../../abstracts/functions';
@import '../../abstracts/mixins';


///
/// abstracts/colors.scss
///

$palette-configuration: (
  shades: (
    'alpha-5':    .05, // 5% opacity
    'alpha-10':   .1,  // 10% opacity
    'alpha-20':   .2,
    'alpha-30':   .3,
    'alpha-40':   .4,
    'alpha-50':   .5,
    'alpha-60':   .6,
    'alpha-70':   .7,
    'alpha-80':   .8,
    'alpha-90':   .9,  // 90% opacity
    'dark-90':  -90%,  // extra dark
    'dark-80':  -80%,
    'dark-70':  -70%,
    'dark-60':  -60%,
    'dark-50':  -50%,
    'dark-40':  -40%,
    'dark-30':  -30%,
    'dark-20':  -20%,
    'dark-15':  -15%,
    'dark-10':  -10%,
    'dark-5':   -5%,  // little dark
    'light-5':   5%,  // little light
    'light-10':  10%,
    'light-15':  15%,
    'light-20':  20%,
    'light-30':  30%,
    'light-40':  40%,
    'light-50':  50%,
    'light-60':  60%,
    'light-70':  70%,
    'light-80':  80%,
    'light-90':  90%,  // extra light
  ),

  predefined: (
    'primary':    #0c0f21,
    'secondary':  #11152e,
    'tertiary':   #151b3b,
  ),

  colors: (
    'black':  #0c0f21,
    'white':  #ffffff,
    'gray':   #585d74,
    'grey':   #585d74,
    'smoke':  #363c57,
    'silver': #ebedee,
    'red':    #f7316a,
    'orange': #f7742d,
    'green':  #1be088,
    'blue':   #005bea,
    'mint':   #27cfc3,
  )
);


@import '../../abstracts/colors';


///
/// abstracts/variables.scss
///


// Global class prefix - DON'T CHANGE!!!
// Default fonts
$base-font-family: 'Space Mono', monospace;
$base-font-weight: 400;
$monospace-font-family: 'Space Mono', monospace;
$ui-font-family: 'Work Sans', sans-serif;

$base-font-size: 14px;
$base-line-height: 20px;

$h1-font-size: 42px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;


$font-sizes: (
  tiny: 12px,
  small: 13px,
  normal: $base-font-size,
  large: 16px,
  huge: 24px,
  giant: 30px,
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
);


$text-colors: (
  default:  color('white'),
  normal:   color('white'),
  bright:   color('white'),
  light:    color('silver'),
  dark:     color('gray'),
  alt:      color('gray'),
  opaque:   color('gray', alpha, 80),
  inverse:  color('black'),

  link:     color('mint'),
  hover:    color('white'),
  active:   color('white'),
  selected: color('white'),

  alert:    color('red'),
  error:    color('red'),
  warning:  color('orange'),
  success:  color('green'),
  info:     color('blue')
);


$background-colors: (
  default:  color('black'),
  window:   color('black'),
  control:  color('secondary'),
  body:     color('tertiary'),

  active:   color('tertiary'),
  selected: color('mint'),
  hover:    color('tertiary'),

  success:  color('green'),
  error:    color('red'),
  alert:    color('red'),
  warning:  color('orange'),
  info:     color('blue'),
);


$border-colors: (
  default:  color('white', alpha, 10),
  dark:     color('white', alpha, 10),
  normal:   color('white', alpha, 10),
  light:    color('white', alpha, 10),
  control:  color('secondary'),

  active:   color('mint'),
  selected: color('mint'),
  hover:    color('mint'),
  
  alert:    color('red'),
  error:    color('red'),
  warning:  color('orange'),
  success:  color('green'),
  info:     color('blue')
);


$breakpoints: (
  small:  (min-width: 320px, max-width: 767px),
  medium: (min-width: 768px, max-width: 1279px),
  large:  (min-width: 1280px),
);


$icon-sizes: (
  tiny:       10px,
  small:      12px,
  normal:     14px,
  large:      20px,
  toolbar:    32px,
  thumbnail:  80px
);


$application: (
  titlebar: (
    height: 1
  ),
  
  header: (
    height: 3.5
  ),
  
  background: (
    color: map-get($background-colors, 'black')
  ),
  
  scrollbar: (
    size: 9px
  ),

  text: map-get($text-colors, 'normal'),
);


// Order matters!
@import '../../abstracts/variables';
@import '../../abstracts/animations';
