.#{$namespace}-app {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  > .#{$namespace}-loader {
    flex: 1 1 auto;
  }
}
