.#{$namespace}-auth {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 100%;
  padding: rhythm(1);
  //
  //.#{$namespace}-form {
  //  width: 100%;
  //}
}


.#{$namespace}-welcome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  text-align: center;
  overflow: hidden;


  &__header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }


  &__content {
    width: 100%;
  }


  &__footer {
    width: 100%;
    margin: rhythm(1) 0;
  }
}


.#{$namespace}-login {
  width: 100%;
  height: 100%;

  &__footer {
    padding: rhythm(1);
    text-align: center;
    font-size: map-get($font-sizes, small);
    color: map-get($text-colors, dark);
  }
}


.#{$namespace}-register {
  width: 100%;
  height: 100%;
}


.#{$namespace}-success {
  img {
    margin-bottom: rhythm(1.5);
  }
}
