.#{$namespace}-auth {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 400px;
  height: 100%;
  padding: rhythm(1);
}


.#{$namespace}-welcome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  text-align: center;
  overflow: hidden;


  &__header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }


  &__content {
    width: 100%;
  }


  &__footer {
    width: 100%;
    margin: rhythm(1) 0;
  }
}


.#{$namespace}-login {
  width: 100%;
  height: 100%;

  &__footer {
    padding: rhythm(1) 0;
    text-align: center;
    font-size: map-get($font-sizes, small);
    color: map-get($text-colors, dark);
  }
}


.#{$namespace}-register {
  width: 100%;
  height: 100%;
}


.#{$namespace}-reset-password {
  width: 100%;
  height: 100%;
}


.#{$namespace}-success {
  text-align: center;

  h4 {
    font-weight: bold;
  }

  p {
    text-align: justify;
  }
}


.#{$namespace}-verify {
  width: 100%;
  height: 100%;

  .#{$namespace}-input {
    height: rhythm(3.5);
    padding: rhythm(1);
    font-size: map-get($font-sizes, giant);
    text-align: center;
    text-indent: 30px;
    letter-spacing: rhythm(2);

    //&:empty {
    //  text-indent: 0;
    //}
  }

  &__footer {
    padding: rhythm(1) 0;
    text-align: center;
    font-size: map-get($font-sizes, small);
    color: map-get($text-colors, dark);
  }
}
