.#{$namespace}-login {
  width: 100%;
  height: 100%;

  &__content {
    padding: 0 rhythm(1);
  }

  &__footer {
    padding: rhythm(1) 0;
    text-align: center;
    font-size: map-get($font-sizes, small);
    color: map-get($text-colors, dark);
  }
}


.#{$namespace}-reset-password {
  width: 100%;
  height: 100%;

  &__content {
    padding: 0 rhythm(1);
  }
}
