$max-width: 100%;
$dashboard-modal-background: map-get($background-colors, default);
$dashboard-modal-border: (
        width: 1px,
        style: solid,
        color: map-get($border-colors, light),
) !default;

.#{$namespace}-portal {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;

  width: 100%;
  max-width: $max-width;
  min-height: 100%;
  padding: 0;
}


.#{$namespace}-dashboard {
  width: 100%;
  height: 100%;

  &__modal {
    max-width: 400px;

    &--title {
      text-align: center;
      margin-top: 0;
    }

    .#{$namespace}-modal-content {
      @include set-border($dashboard-modal-border);

      background: $dashboard-modal-background;
    }
  }

  &__content {
    padding: 0 rhythm(1);
  }

  &__info {
    @include set-border((
      side: bottom,
      width: 1px,
      style: solid,
      color: map-get($border-colors, default),
    ));

    width: 100%;
    margin: 0;
    padding: 0 0 rhythm(.5) 0;
    font-family: $ui-font-family;
  }

  &__title {
    margin: 0 0 rhythm(.25) 0;
    font-weight: normal;
    color: map-get($text-colors, dark);
  }

  &__total,
  &__amount {
    margin: rhythm(.25) 0;
    font-size: $h5-font-size;
    font-weight: 500;
  }

  &__total {
    font-size: $h3-font-size;
    margin-bottom: rhythm(.5);
  }

  &__note {
    margin: 0;
    font-family: $base-font-family;
    font-size: map-get($font-sizes, small);
    color: map-get($text-colors, dark);
  }


  &__group {
    @include set-border((
      side: bottom,
      width: 1px,
      style: solid,
      color: map-get($border-colors, default),
    ));

    display: flex;
    margin: 0 0 rhythm(1) 0;
    padding: rhythm(.5) 0;

    .#{$namespace}-dashboard__info {
      width: 50%;
      padding: 0 0 0 rhythm(.5);
      border: 0;
    }
  }

  &__info + &__info {
    @include set-border((
      side: left,
      width: 1px,
      style: solid,
      color: map-get($border-colors, default),
    ));

    padding: 0 0 0 rhythm(1);
  }


  &__chart {
    margin: 0 0 rhythm(1) 0;
  }
}
