$max-width: 400px;


.#{$namespace}-edit-profile {
  width: 100%;
  height: 100%;
  max-width: $max-width;

  .enrg-form {
    padding: 0 rhythm(1);
  }

  .#{$namespace}-notification {
    margin: 0 0 rhythm(1) 0;
  }

  &__address-link {
    float: right;
    margin: rhythm(-.75) 0 rhythm(.5) 0;
  }

  &__clear {
    clear: both;
    margin: 0;
    height: 0;
  }
}
