.#{$namespace}-transactions {
  width: 100%;
  height: 100%;
  font-family: $ui-font-family;

  &__virtual-amount,
  &__virtual-amount .#{$namespace}-amount {
    @extend %font-small;
    @extend %font-dark;
  }

  &__virtual-amount {
    margin-left: rhythm(.5);
  }

  &__amount {
    margin: 0;
    font-size: map-get($font-sizes, large);
    font-weight: 500;
  }

  &__row--section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    padding-bottom: rhythm(.5);

    + .#{$namespace}-transactions__row--section {
      padding-bottom: rhythm(.25);
    }
  }

  &__column--first {
    width: 100%;
  }

  time,
  &__source,
  &__text-tx {
    @extend %font-dark;
  }

  &__text--tx {
    @extend %font-small;
    @extend %font-dark;
    display: inline-block;
  }

}

%font-small {
  font-size: map-get($font-sizes, small);
}

%font-dark {
  color: map-get($text-colors, dark);
}
