.#{$namespace}-welcome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  text-align: center;
  overflow: hidden;


  &__header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }


  &__content {
    width: 100%;
    padding: 0 rhythm(1);
  }


  &__footer {
    width: 100%;
    margin: rhythm(1) 0;
  }
}
