///*------------------------------------*\
//    #SETTINGS-COLORS all colors should be here as variables for easier manipulation
//\*------------------------------------*/

//base-colors
$white: #fff;

//button-base-colors
$button_white: #f6f9fb;

//button-border-colors
$button_white_border: #bdc5d6;

//button-active-colors
$button_white_active: rgba(153, 153, 153, 0.4);
