$theme-prefix = 'enrg';

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.#{$theme-prefix}-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

  &__logo {
    animation: spin infinite 20s linear;
    height: 80px;
  }

  &__title {
    font-size: 1.5em;
  }

  &__nav {
    text-align: center;
    ul { list-style-type: none; }
  }
}
