$button-margin: rhythm(0.125) 0;
$button-padding: 0.375 20px 0.375 20px;
$button-spacing: 12px;
$button-font-weight: 300;
$button-transition: all 0.15s ease-in-out 0s;
$button-text-color: map-get($text-colors, "white");
$button-text-shadow: 0 0 1px color("black", "alpha", 20);
$button-border: (
  side: all,
  width: $default-rhythm-border-width,
  radius: $default-border-radius,
  color: map-get($border-colors, "button")
);

$button-small-height: rhythm(1);
$button-small-margin: 0;
$button-small-padding: 0 10px;
$button-small-border: (
  width: $default-rhythm-border-width
);

$button-large-height: rhythm(2.25);
$button-large-font-size: map-get($font-sizes, "large");
$button-large-margin: 0;
$button-large-padding: 0.125 35px;
$button-large-border: (
  width: $default-rhythm-border-width
);

$button-ghost-color: map-get($text-colors, "dark");
$button-ghost-hover-color: map-get($text-colors, "normal");

$button-icon-size: rhythm(1.75);
$button-small-icon-size: rhythm(1);
$button-large-icon-size: rhythm(2);

$button-colors: (
  primary: (
    default: (
      normal: (
        text: $button-text-color,
        background: map-get($background-colors, "primary"),
        border: transparent
      ),
      disabled: (
        text: map-get($text-colors, "hover"),
        background: color("button", "alpha", 20),
        border: transparent
      ),
      hover: (
        text: $button-text-color,
        background: color('primary', 'light', 15),
        border: transparent
      ),
      pressed: (
        text: $button-text-color,
        background: color('primary', 'dark', 15),
        border: transparent
      )
    ),
    success: (
      normal: (
        text: $button-text-color,
        background: map-get($background-colors, "success"),
        border: transparent
      ),
      disabled: (
        text: $button-text-color,
        background: map-get($background-colors, "success"),
        border: transparent
      ),
      hover: (
        text: $button-text-color,
        background: color("green", "dark", 10),
        border: transparent
      ),
      pressed: (
        text: $button-text-color,
        background: color("green", "dark", 10),
        border: transparent
      )
    ),
    warning: (
      normal: (
        text: $button-text-color,
        background: map-get($background-colors, "warning"),
        border: transparent
      ),
      disabled: (
        text: $button-text-color,
        background: map-get($background-colors, "warning"),
        border: transparent
      ),
      hover: (
        text: $button-text-color,
        background: color("orange", "dark", 10),
        border: transparent
      ),
      pressed: (
        text: $button-text-color,
        background: color("orange", "dark", 10),
        border: transparent
      )
    ),
    alert: (
      normal: (
        text: $button-text-color,
        background: map-get($background-colors, "alert"),
        border: transparent
      ),
      disabled: (
        text: $button-text-color,
        background: map-get($background-colors, "alert"),
        border: transparent
      ),
      hover: (
        text: $button-text-color,
        background: color("red", "dark", 10),
        border: transparent
      ),
      pressed: (
        text: $button-text-color,
        background: color("red", "dark", 10),
        border: transparent
      )
    ),
    info: (
      normal: (
        text: $button-text-color,
        background: map-get($background-colors, "info"),
        border: transparent
      ),
      disabled: (
        text: $button-text-color,
        background: map-get($background-colors, "info"),
        border: transparent
      ),
      hover: (
        text: $button-text-color,
        background: color("blue", "dark", 10),
        border: transparent
      ),
      pressed: (
        text: $button-text-color,
        background: color("blue", "dark", 10),
        border: transparent
      )
    ),
    inverse: (
      normal: (
        text: $button-text-color,
        background: color("black", "alpha", 90),
        border: transparent
      ),
      disabled: (
        text: $button-text-color,
        background: color("black", "alpha", 90),
        border: transparent
      ),
      hover: (
        text: $button-text-color,
        background: color("black"),
        border: transparent
      ),
      pressed: (
        text: $button-text-color,
        background: color("black"),
        border: transparent
      )
    )
  ),
  secondary: (
    default: (
      normal: (
        text: map-get($text-colors, "white"),
        background: map-get($background-colors, "secondary"),
        border: transparent
      ),
      disabled: (
        text: map-get($text-colors, "white"),
        background: map-get($background-colors, "control"),
        border: transparent
      ),
      hover: (
        text: map-get($text-colors, "white"),
        background: color('secondary', 'light', 15),
        border: transparent
      ),
      pressed: (
        text: map-get($text-colors, "white"),
        background: color('secondary', 'dark', 15),
        border: transparent
      )
    ),
    success: (
      normal: (
        text: map-get($text-colors, "success"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "success")
      ),
      disabled: (
        text: map-get($text-colors, "success"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "success")
      ),
      hover: (
        text: color("green", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("green", "dark", 10)
      ),
      pressed: (
        text: color("green", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("green", "dark", 10)
      )
    ),
    warning: (
      normal: (
        text: map-get($text-colors, "warning"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "warning")
      ),
      disabled: (
        text: map-get($text-colors, "warning"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "warning")
      ),
      hover: (
        text: color("orange", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("orange", "dark", 10)
      ),
      pressed: (
        text: color("orange", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("orange", "dark", 10)
      )
    ),
    alert: (
      normal: (
        text: map-get($text-colors, "alert"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "alert")
      ),
      disabled: (
        text: $button-text-color,
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "alert")
      ),
      hover: (
        text: color("red", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("red", "dark", 10)
      ),
      pressed: (
        text: color("red", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("red", "dark", 10)
      )
    ),
    info: (
      normal: (
        text: map-get($text-colors, "info"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "info")
      ),
      disabled: (
        text: map-get($text-colors, "info"),
        background: map-get($background-colors, "control"),
        border: map-get($border-colors, "info")
      ),
      hover: (
        text: color("blue", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("blue", "dark", 10)
      ),
      pressed: (
        text: color("blue", "dark", 10),
        background: map-get($background-colors, "control"),
        border: color("blue", "dark", 10)
      )
    ),
    inverse: (
      normal: (
        text: color("black", "alpha", 90),
        background: transparent,
        border: color("black", "alpha", 90)
      ),
      disabled: (
        text: color("black", "alpha", 90),
        background: transparent,
        border: color("black", "alpha", 90)
      ),
      hover: (
        text: color("black"),
        background: transparent,
        border: color("black")
      ),
      pressed: (
        text: color("black"),
        background: transparent,
        border: color("black")
      )
    )
  ),
  tertiary: (
    default: (
      normal: (
        text: color("tertiary"),
        background: transparent,
        border: transparent
      ),
      disabled: (
        text: color("tertiary"),
        background: color("tertiary", "alpha", 20),
        border: transparent
      ),
      hover: (
        text: map-get($text-colors, "hover"),
        background: color("blue", "alpha", 10),
        border: transparent
      ),
      pressed: (
        text: map-get($text-colors, "hover"),
        background: color("blue", "alpha", 10),
        border: transparent
      )
    ),
    success: (
      normal: (
        text: color("green", "alpha", 70),
        background: transparent,
        border: transparent
      ),
      disabled: (
        text: map-get($text-colors, "success"),
        background: color("green", "alpha", 10),
        border: transparent
      ),
      hover: (
        text: map-get($text-colors, "success"),
        background: color("green", "alpha", 10),
        border: transparent
      ),
      pressed: (
        text: map-get($text-colors, "success"),
        background: color("green", "alpha", 10),
        border: transparent
      )
    ),
    warning: (
      normal: (
        text: color("orange", "alpha", 70),
        background: transparent,
        border: transparent
      ),
      disabled: (
        text: map-get($text-colors, "warning"),
        background: color("orange", "alpha", 10),
        border: transparent
      ),
      hover: (
        text: map-get($text-colors, "warning"),
        background: color("orange", "alpha", 10),
        border: transparent
      ),
      pressed: (
        text: map-get($text-colors, "warning"),
        background: color("orange", "alpha", 10),
        border: transparent
      )
    ),
    alert: (
      normal: (
        text: color("red", "alpha", 70),
        background: transparent,
        border: transparent
      ),
      disabled: (
        text: map-get($text-colors, "alert"),
        background: color("red", "alpha", 10),
        border: transparent
      ),
      hover: (
        text: map-get($text-colors, "alert"),
        background: color("red", "alpha", 10),
        border: transparent
      ),
      pressed: (
        text: map-get($text-colors, "alert"),
        background: color("red", "alpha", 10),
        border: transparent
      )
    ),
    info: (
      normal: (
        text: color("blue", "alpha", 70),
        background: transparent,
        border: transparent
      ),
      disabled: (
        text: $button-text-color,
        background: color("blue", "alpha", 10),
        border: transparent
      ),
      hover: (
        text: map-get($text-colors, "info"),
        background: color("blue", "alpha", 10),
        border: transparent
      ),
      pressed: (
        text: map-get($text-colors, "info"),
        background: color("blue", "alpha", 10),
        border: transparent
      )
    ),
    inverse: (
      normal: (
        text: color("black", "alpha", 90),
        background: transparent,
        border: transparent
      ),
      disabled: (
        text: color("black"),
        background: color("black", "alpha", 10),
        border: transparent
      ),
      hover: (
        text: color("black"),
        background: color("black", "alpha", 10),
        border: transparent
      ),
      pressed: (
        text: color("black"),
        background: color("black", "alpha", 10),
        border: transparent
      )
    )
  )
);

$button-busy-animation: working 5s linear infinite;

