$input-width: 200px;
$input-height: rhythm(1.75);
$input-margin: rhythm(0.125) 0;
$input-padding: (
  top: 0.375,
  right: 10px,
  bottom: 0.375,
  left: 10px
);
$input-font-weight: normal;
$input-color: map-get($text-colors, "white");
$input-background: map-get($background-colors, "secondary");
$input-border: (
  width: 1px,
  style: solid,
  color: map-get($border-colors, "normal"),
  radius: $default-border-radius
);
$input-box-shadow: none;
$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

$input-large-height: rhythm(2);
$input-large-margin: 0;
$input-large-padding: (
  top: 0.25,
  right: 10px,
  bottom: 0.25,
  left: 10px
);

$input-placeholder-color: map-get($text-colors, "dark");
$input-hover-border-color: map-get($border-colors, "hover");

$input-autofill-color: map-get($text-colors, "white");
$input-autofill-background: color('black');
$input-autofill-border: color("secondary", "light", 20);

$input-readonly-background: transparent;
$input-readonly-border-color: transparent;

$input-error-shadow: 0 0 0 1px map-get($text-colors, "error");
$input-error-border-color: transparent;
$input-error-placeholder-color: map-get($text-colors, "opaque");
$input-error-background: (
  image:
    svg-url(
      (
        fill: map-get($palette, "red")
      ),
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>'
    ),
  repeat: no-repeat,
  position: right 8px center,
  color: $input-background,
  size: 20px
);
$input-warning-shadow: 0 0 0 1px map-get($text-colors, "warning");
$input-warning-border-color: transparent;
$input-warning-placeholder-color: map-get($text-colors, "warning");
$input-warning-background: (
  image:
    svg-url(
      (
        fill: map-get($palette, "orange")
      ),
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="000000" d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/></svg>'
    ),
  repeat: no-repeat,
  position: right 8px center,
  color: $input-background,
  size: 20px
);
$input-success-shadow: 0 0 0 1px map-get($text-colors, "success");
$input-success-border-color: transparent;
$input-success-placeholder-color: map-get($text-colors, "opaque");
$input-success-background: (
  image:
    svg-url(
      (
        fill: map-get($palette, "green")
      ),
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>'
    ),
  repeat: no-repeat,
  position: right 8px center,
  color: $input-background,
  size: 20px
);

$input-number-width: 200px;
$input-number-align: left;
