$notification-min-height: rhythm(3);
$notification-margin: 0;
$notification-padding: rhythm(1);
$notification-font-weight: 400;
$notification-color: map-get($text-colors, 'normal');
$notification-system-color: map-get($text-colors, 'normal');
$notification-background: map-get($background-colors, 'body');
$notification-system-animation: working 5s linear infinite;
$notification-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
$notification-transition: opacity .15s linear;

$notification-border: (radius: $default-border-radius);

$notification-icons: (
  info: svg-url('<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.584 0 0 3.584 0 8s3.584 8 8 8 8-3.584 8-8-3.584-8-8-8zm.8 12H7.2V7.2h1.6V12zm0-6.4H7.2V4h1.6v1.6z" fill="#{color('white')}" fill-rule="nonzero"/></svg>'),
  error: svg-url('<svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><g stroke="#{color('white')}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M1 11C1 5.476 5.478 1 11 1s10 4.476 10 10-4.478 10-10 10S1 16.524 1 11zM7 7l8 8M7 15l8-8"/></g></svg>'),
  success: svg-url('<svg width="16" height="12" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.09 9.493L1.274 5.73 0 6.985 5.09 12 16 1.254 14.727 0z" fill="#{color('white')}" fill-rule="nonzero"/></svg>'),
  warning: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{color('white')}" d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>'),
  system: svg-url('<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M15.443 9.882c.036-.288.063-.576.063-.882 0-.306-.027-.594-.063-.882l1.9-1.485a.454.454 0 0 0 .107-.576l-1.8-3.114a.452.452 0 0 0-.549-.198l-2.24.9a6.575 6.575 0 0 0-1.522-.882L10.997.378a.439.439 0 0 0-.44-.378h-3.6a.439.439 0 0 0-.442.378l-.342 2.385a6.915 6.915 0 0 0-1.52.882l-2.242-.9a.439.439 0 0 0-.549.198l-1.8 3.114a.444.444 0 0 0 .108.576l1.9 1.485A7.138 7.138 0 0 0 2.005 9c0 .297.027.594.063.882L.17 11.367a.454.454 0 0 0-.108.576l1.8 3.114c.108.198.351.27.55.198l2.24-.9c.468.36.972.657 1.521.882l.342 2.385a.439.439 0 0 0 .441.378h3.6a.439.439 0 0 0 .441-.378l.342-2.385a6.915 6.915 0 0 0 1.521-.882l2.241.9a.44.44 0 0 0 .55-.198l1.8-3.114a.454.454 0 0 0-.109-.576l-1.899-1.485zM8.756 12.15A3.153 3.153 0 0 1 5.606 9a3.153 3.153 0 0 1 3.15-3.15A3.153 3.153 0 0 1 11.906 9a3.153 3.153 0 0 1-3.15 3.15z" fill="#FFF" opacity=".7" /></svg>'),
);

$notification-close: (
  size: 'small',
  type: 'ghost',
  icon: (
    size: 'tiny',
    default: svg-url('<svg viewBox="0 0 10 10" width="10" height="10" xmlns="http://www.w3.org/2000/svg"><path d="M8.993 0L5 3.993 1.007 0 0 1.007 3.993 5 0 8.993 1.007 10 5 6.007 8.993 10 10 8.993 6.007 5 10 1.007z" fill="#{color('white')}" fill-rule="evenodd"/></svg>'),
    inverse: svg-url('<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><path d="M8.993 0L5 3.993 1.007 0 0 1.007 3.993 5 0 8.993 1.007 10 5 6.007 8.993 10 10 8.993 6.007 5 10 1.007z" fill="#{color('black')}" fill-rule="evenodd"/></svg>'),
  )
);
