$textarea-width: 200px;
$textarea-height: rhythm(4.5);
$textarea-margin: rhythm(0.25) 0;
$textarea-padding: 0.25 10px 0.25 10px;
$textarea-background: map-get($background-colors, "control");

$textarea-border: (
  width: 1px,
  style: solid,
  color: transparent,
  radius: $default-border-radius
);

$textarea-placeholder-color: map-get($text-colors, "opaque");
$textarea-hover-border-color: transparent;

.#{$namespace}-textarea {
  @include set-border($textarea-border, $textarea-padding);

  appearance: none;
  display: inline-block;
  width: $textarea-width;
  height: $textarea-height;
  margin: $textarea-margin;
  line-height: $base-line-height;
  vertical-align: top;
  resize: none;
  background: $textarea-background;

  &:hover {
    border-color: $textarea-hover-border-color;
  }

  &::placeholder {
    font-style: normal;
    color: $textarea-placeholder-color;
  }

  & + .#{$namespace}-label {
    margin-left: 8px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-color: map-get($select-border, "color") !important;
    -webkit-text-fill-color: $select-placeholder-color !important;
    -webkit-box-shadow: 0 0 0 1000px map-get($select-background, "color") inset !important;
  }
}

.#{$namespace}-textarea--full {
  width: 100%;
}

.#{$namespace}-textarea--auto {
  width: auto;
}
