@import "src/assets/styles/abstracts/index";

.#{$namespace}-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

  &__logo {
    animation: spin infinite 20s linear;
    height: 80px;
  }

  &__title {
    font-size: 1.5em;
  }

  &__nav {
    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 5px;

        a {
          color: #fff;
          text-decoration: none;
          padding: 5px 10px;
        }
      }
    }
  }
}
