///
/// Main file - entry point
///
///

// These things first (order matters!)
@import "abstracts/index";

// Then these (order matters!)
@import "base/index";

//// Then the components
@import "components/index";

// Then some common stuff
//@import 'partials/index';

// Page specific
@import "pages/index";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/bootstrap-grid";
